<h3>Attendance is available during sport session</h3>

<input type="text" value="{{info}}"></input>

{{!-- <p class="visitorId">Visitor ID: {{visitorId}}</p> --}}
{{!-- <p>Current Layout: {{title}}</p> --}}