<h2>Web server for HKIF</h2>

<p>Current Layout: {{title}}</p>
<p class="visitorId">Visitor ID: {{visitorId}}</p>

<div class="qr-container">
    <div class="centrer">
        <img id="qr-code" src={{src}}/>
    </div>
</div>