<h2>Scan QR code</h2>

<div class="qr-container">
    <div class="centrer">
        <img id="qr-code" src={{src}}/>
    </div>
</div>

{{!-- <p class="visitorId">Visitor ID: {{visitorId}}</p> --}}
{{!-- <p>Current Layout: {{title}}</p> --}}